body{

  font-size: 14px;

}

.myClass{
font-size: 14px;
color: white;
}
#myDiv{
height: 300px;
width: 300px;
background-color: #338099;
border-radius: 15px;
padding: 2%;
}

#inputValue{
margin: 3px;
display: block;
float: left;
height: 15px;

}

#myBtn{
font-size: px;
}
#header{
  color: white;
}
#myList{
margin-left:10px;
#myList li{
left: 0px;
margin: auto;
margin-top: auto;
width: 100%;
position: relative;
height: 20px;
text-align: left;
padding: auto;
padding: 2px 2px 2px 2px;

list-style-type: none;

}

.closeBtn{
  right: 10px;
  height: 100%;
  width: 25px;
  position: absolute;
  text-align: center;
   float: right;
   top: 0;
}

.editBtn{
  margin-left: 10px;
  float: left;
  right: 40px;
  height: 100%;
  width: 45px;
  text-align: center;
  position: absolute;
 top:0;
}
